*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu-lateral{
    background-color: blueviolet;
    height: 100vh;
    width: 8vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.icones-container{
    border: 1px solid red;
    margin: auto 0;
}
